* {box-sizing: border-box;}

/*body {*/
/*  background-color: #0b9164;*/
/*  margin: 0;*/
/*  font-family: Noto Sans;*/
/*}*/

.header {
  text-align: center;
  overflow: hidden;
  background-color: #0b9164;
  padding: 20px 10px;
  text-decoration: none;
}

.header a, .header .logo {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 10px;
  border-radius: 4px;
}

.header .logo {
  color:#fff;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .header a {
    font-size: 15px;
    display: inherit;
    text-align: left;
  }
  .header-right {
    padding-top: 10%;
    font-size: 15px;
    float: none;
  }
}
.panel{
  border-color:rgb(0, 0, 0);
  margin:40px;
  padding:20px;
  font: 15px "Noto Sans";
  position: relative;
  top: -250px;
  z-index: 10;

}

.students-header{
  font-size: 48px;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #09009f, #ee786e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 0;
  z-index: 10;
}
.navbar-brand{
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #6DD5ED, #ee786e 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.hoverable {
  cursor: pointer;
}
.hoverable:hover{
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}